<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>css font字体样式</title>
    <style type='text/css'>
    /* font-family字体全家福XD */
    /* italic 斜体的 */
    /* oblique 倾斜的 */
    /* font-weight属性是加粗字体的 */
    /* shadow阴影 */
        .class1 {
           font-family:monospace; 
           font-size: 50px;
           font-style:italic;
           font-weight:bolder;
           /* text-shadow效果很好XD */
           /* 2px 水平偏移  2px 垂直偏移 (必选)      2px 模糊程度（可选）*/
           text-shadow:2px 2px magenta;
           text-align:center;
        }
        p {
            text-indent:30px;
        }
    </style>
</head>
<body>
    <p class='class1'>monospace字体abcdefg</p>
    <p>monospace字体abcdefg(默认)</p>
    <p style='font-family:fantasy;font-size: 60px;font-style:oblique'>abcdefg元素内嵌样式表设置字体</p>
</body>
</html>