<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>javascript</title>
    <!-- 从外部引入javascript -->
    <script src='/static/javascript1.js'></script>
    <!-- alert 警报  variable变量-->
    <!-- 直接在html写   javascript -->
    <!-- prompt 提示 -->
    <script>
        var show='我是variable变量'
        alert('我是在html写的js')
        alert(show)
        var name=prompt('你的名字：','')
        document.write('<h1>'+name+'<h1>')
    </script>

</head>
<body>
    
</body>
</html>